---
const { episode } = Astro.props;
function wrapURLs(input: string) {
  const urlRegex = /(https?:\/\/[^\s]+)/g;
  return input.replace(
    urlRegex,
    '<a href="$1" target="_blank" rel="noopener noreferrer">$1</a>'
  );
}
---

<details name="episodes">
  <summary>{episode.title}</summary>
  <div class="episodeInfo">
    <div class="date">{new Date(episode.date).toLocaleDateString()}</div>
    <div>
      <a href="${episode.fileUrl}" target="_blank">Ascolta 🔉</a>
      <a onclick={`info("${episode.fileUrl}")`}>Scontrino 🧾</a>
    </div>
  </div>
  {
    episode.links && episode.links.length > 0 && (
      <ul>
        {episode.links.map((l: any) => (
          <li>
            <a href={l.link} target="_blank">
              {l.description}
            </a>
          </li>
        ))}
      </ul>
    )
  }
  {
    episode.links && episode.links.length < 1 && (
      <h2> No links in this episode</h2>
    )
  }
  <dialog id={episode.fileUrl}>
    <button id={`close-${episode.fileUrl}`}>x</button>
    <h2>Scontrino</h2>
    <h3>{episode.title}</h3>
    <div>
      <pre set:html={wrapURLs(episode.content)} />
    </div>
  </dialog>
</details>
